# OS files
.DS_Store
Thumbs.db

# Node.js dependencies (if you use Node)
node_modules/

# trash folder need not be tracked
trash/

# Logs
*.log

#Access keys
user-1_accessKeys.csv

# Build output
dist/
build/

# Environment files
.env

# IDE settings
.vscode/
.idea/

# Misc
counter.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
